@font-face {
    font-family: "阿里妈妈灵动体 VF Thin";
    src: url("//at.alicdn.com/wf/webfont/x0tElsA3zbdF/K5AAJ0xEq02h.woff2") format("woff2"),
    url("//at.alicdn.com/wf/webfont/x0tElsA3zbdF/pLTl2agUFkBw.woff") format("woff");
    font-display: swap;
}